{% extends "mainTemplate.twig" %}
{% block content %}

  <h1>Add user.</h1>
  <div class="alert alert-primary" role ="alert">
    {{responseMessage}}
  </div>
  <form action="/platzi/users/add" method="POST">
    <label for="">correo:</label>
    <input type="text" name="correo" id=""> <br>
    <label for="">Contraseña:</label>
    <input type="password" name="contrasenia" id=""> <br>
    <button type="submit">Save</button>
  </form>
{% endblock %}