{% extends "mainTemplate.twig" %}
{% block content %}
<h1> Dashboard</h1>
<ul>
  <li> <a href="/platzi/users/add"> Add User</a> </li>
  <li> <a href="/platzi/jobs/add"> Add Job</a> </li>
</ul>
<a href="/platzi/logout">Logout</a>
{% endblock %}